

<div class="row statcards">
  {{ stat-card title='Companies' value=companiesCount cssSizes='col-sm-6 col-md-3'}}
  {{ stat-card title='Network Sites' value=networkSitesCount cssSizes='col-sm-6 col-md-3'}}
  {{ stat-card title='Buildings' value=99 cssSizes='col-sm-6 col-md-3'}}
  {{ stat-card title='Elements' value=999 cssSizes='col-sm-6 col-md-3'}}
</div>

{{#g-map canvasClassName="map-companies-list" 
  googleParams='{
    "zoom": 5, 
    "zoomControl":false,
    "streetViewControl": false
  }' as |context| 
}}
  {{#each companies as |company|}}
    {{#each company.networkSites as |site|}}
      {{g-map-marker mapContext=context lat=site.lat lng=site.lng }}
    {{/each}}
  {{/each}}
{{/g-map}}

	{{#each companies as |company|}}

		<div class="panel panel-default">
      <div class="panel-heading">
    		{{link-to company.name "companies.show" company data-role="company-link"}}
    		<span class="pull-right">
    			<a href="#" {{action "delete" company}}>
						<span class="icon icon-squared-cross"></span>
    			</a>
    		</span>
      </div>
      
      <div class="list-group">
        {{#each company.networkSites as |networkSite|}}
          <div class="list-group-item">
            {{link-to networkSite.name "network-sites.show" networkSite data-role="network-site-link"}}
          </div>
        {{/each}}
        {{!-- Create New Newtork Sites --}}
        <div class="list-group-item">
          {{link-to "Create A New Site" "network-sites.new" (query-params companyId=company.id) classNames='btn btn-primary btn-sm create-networkSite-button' }}
        </div>        
      </div>

		</div>
	{{/each}}
  

{{link-to "Create A New Company" "companies.new" classNames='btn btn-primary btn-lg create-company-button' }}
