

<div class="row statcards">
      <div class="col-sm-6 col-md-3 m-b">
        <div class="statcard">
          <div class="p-a">
            <span class="statcard-desc">Companies</span>
            <h2 class="statcard-number">
              2
              {{!-- <small class="label label-success">5%</small> --}}
            </h2>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 m-b">
        <div class="statcard">
          <div class="p-a">
            <span class="statcard-desc">Network Sites</span>
            <h2 class="statcard-number">
              11
              {{!-- <small class="label label-danger">1.3%</small> --}}
            </h2>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 m-b">
        <div class="statcard">
          <div class="p-a">
            <span class="statcard-desc">Buildings</span>
            <h2 class="statcard-number">
              24
              {{!-- <small class="label label-success">6.75%</small> --}}
            </h2>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 m-b">
        <div class="statcard">
          <div class="p-a">
            <span class="statcard-desc">ONTs</span>
            <h2 class="statcard-number">
              758
              {{!-- <small class="label label-success">1.3%</small> --}}
            </h2>
          </div>
        </div>
      </div>
    </div>
  {{#g-map canvasClassName="map-companies-list" 
    googleParams='{
      "zoom": 5, 
      "zoomControl":false,
      "streetViewControl": false
    }' as |context| 
  }}
    {{g-map-marker mapContext=context lat=40.3467174 lng=-74.6568772 }}
    {{g-map-marker mapContext=context lat=39.2690103 lng=-76.7014073 }}
  {{/g-map}}
  
  {{!-- {{ g-map-address-input }} --}}

	{{#each model as |company|}}

		<div class="panel panel-default">
      <div class="panel-heading">
    		{{link-to company.name "companies.show" company data-role="company-link"}}
    		<span class="pull-right">
    			<a href="#" {{action "delete" company}}>
						<span class="icon icon-squared-cross"></span>
    			</a>
    		</span>
      </div>
      
      <div class="list-group">
        {{#each company.networkSites as |networkSite|}}
          <div class="list-group-item">
            {{link-to networkSite.name "network-sites.show" networkSite data-role="network-site-link"}}
          </div>
        {{/each}}
        {{!-- Create New Newtork Sites --}}
        <div class="list-group-item">
          {{link-to "Create A New Site" "network-sites.new" (query-params companyId=company.id) classNames='btn btn-primary btn-sm create-networkSite-button' }}
        </div>        
      </div>

		</div>
	{{/each}}
  

{{link-to "Create A New Company" "companies.new" classNames='btn btn-primary btn-lg create-company-button' }}
