<h2>List: {{model.length}}</h2>

<div class="list-group">
  	
  	{{#each model as |company|}}

  		<div class="panel panel-default">
        <div class="panel-heading">
      		{{link-to company.name "companies.show" company data-role="company-link"}}
      		<span class="pull-right">
      			<a href="#" {{action "delete" company}}>
  						<span class="icon icon-squared-cross"></span>
      			</a>
      		</span>
        </div>
        
        <ul class="list-group">
          {{#each company.networkSites as |networkSite|}}
            <li class="list-group-item">
              {{link-to networkSite.name "network-sites.show" networkSite data-role="network-site-link"}}
            </li>
          {{/each}}          
        </ul>

  		</div>
		{{/each}}
  
</div>

{{link-to "Create A New Company" "companies.new" classNames='btn btn-primary btn-lg create-company-button' }}
