<h2>List: {{model.length}}</h2>
  {{!-- {{ g-map canvasClassName="map-companies-list" 
    googleParams='{
      "zoom": 3, 
      "zoomControl":false,
      "streetViewControl": false
    }'
  }} --}}
  {{ g-map-address-input }}

	{{#each model as |company|}}

		<div class="panel panel-default">
      <div class="panel-heading">
    		{{link-to company.name "companies.show" company data-role="company-link"}}
    		<span class="pull-right">
    			<a href="#" {{action "delete" company}}>
						<span class="icon icon-squared-cross"></span>
    			</a>
    		</span>
      </div>
      
      <div class="list-group">
        {{#each company.networkSites as |networkSite|}}
          <div class="list-group-item">
            {{link-to networkSite.name "network-sites.show" networkSite data-role="network-site-link"}}
          </div>
        {{/each}}          
      </div>

		</div>
	{{/each}}
  

{{link-to "Create A New Company" "companies.new" classNames='btn btn-primary btn-lg create-company-button' }}
